{
  "network-id": "{{ .NetworkId }}",
  "staking-enabled": "{{ .StakingEnabled }}",
  "health-check-frequency": "{{ .HealthCheckFrequency }}",
  "plugin-dir": "{{ .PluginDirPath }}",
  "log-level": "debug"
}